# Used for specifying local environment name in pyenv
.python-version

# No need to track editor settings
.vscode

# Used during development
python-api/notebook
python-api/tests

# Misc
**/__pycache__