# Used for specifying local environment name in pyenv
.python-version

# No need to track editor settings
.vscode

# Used during development
python-api/notebook
python-api/tests
.env.development

# Misc
**/__pycache__
dbfiles

# Frontend files

# dependencies
**/node_modules
**/.pnp
.pnp.js

# testing
**/coverage

# production
**/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
